In [14]:
import wandb

In [15]:
wandb.login(key='5a4f90130d34647d001a277a3d0d7efbaf02d967')
api = wandb.Api()

project_name = "test_ft"
run_id = "one_input_one_output_wrequest"

wandb: WARNING If you're specifying your api key in code, ensure this code is not shared publicly.
wandb: WARNING Consider setting the WANDB_API_KEY environment variable, or running `wandb login` from the command line.
wandb: Appending key for api.wandb.ai to your netrc file: /home/gustaw/.netrc

In [17]:
runs = api.runs(f"{wandb.Api().default_entity}/{project_name}")
for run in runs:
    print(run.name)
    print(run.id)

history = run.history()
history.head()

output
8nn9xthg
output
0t1n94q7
output
92dcnitp
output
81a4s8lm
output
8cfsfbbq
test
osbmwtmd
test
7nb4li15
one_input_one_output_wrequest
rzqkjd6o
one_input_one_output_wthrequest
urejpnkb
one_input_multiple_outputs_wrequest
0yqy4utj
one_input_multiple_outputs_wthrequest
w9u4erpj
one_input_one_output_wrequest
mpejwc7s
one_input_one_output_wthrequest
jrwj8zd5
one_input_multiple_outputs_wrequest
4wdm8rq8
one_input_multiple_outputs_wthrequest
u3zqxdry

,_step,_runtime,train/loss,train/grad_norm,train/learning_rate,train/epoch,_timestamp,train/global_step
0,0,10.728615,1.3629,1.889384,0.00003,1,1.738358e+09,1
1,1,10.936125,1.3629,1.889035,0.00006,2,1.738358e+09,2
2,2,11.126151,1.3420,1.803080,0.00009,3,1.738358e+09,3
3,3,11.316787,1.2480,1.499058,0.00012,4,1.738358e+09,4
4,4,12.144566,NaN,NaN,NaN,4,1.738358e+09,4